body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
   
    
}
.heading-primary{
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 6rem;

 
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2.5rem;
        animation-name: moveinleft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond (phone) {
    
        }
          

        }
        &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.35rem;
        animation: moveinright 1s ease-out;
        
        }
    }

    .heading-secondary{
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        -webkit-background-clip: text;
         color: transparent;
        background-image : linear-gradient(to right,$color-primary-light , $color-primary-dark );
          transition: all .2s;
          letter-spacing: .2rem;

         &:hover{
             transform: skewY(2deg) skewX(15deg) scale(1.1);
             text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
         }
    }
    .heading-tertiary{
font-size: 1.4rem;
font-weight: 700;
text-transform: uppercase;

    }
    .paragraph{
font-size: $default-font-size;
width: 50rem;

&:not(last-child) {
 margin-bottom: 3rem;

}
    }
    .booking12{
        font-size: 2.2rem;
        font-weight: 700;
    }